@charset "UTF-8";

* {
  color: #222;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  font-weight: bold;
  list-style: none;
}

div#wrap {
  width: 400px;
  padding: 10px;
  border: 1px solid #000;
  margin: 30px auto;
}

ul#mainMenu {
  width: 340px;
  /* border: 1px solid #08f; */
  margin: 20px auto;
  position: relative;
}

ul#mainMenu>li.mainLi {
  width: 100px;
  text-align: center;
  padding: 10px 12px;
  border: 1px solid #000;
  background-color: rgba(0, 136, 255, 0.4);
  display: inline-block;
}



ul#mainMenu>li>ul.subMenu {
  position: absolute;
  margin-left: -13px;
  top: 42px;
  /* margin-top: 10px; */

  /* display: none; */
}

ul#mainMenu li.subLi {
  width: 100px;
  text-align: center;
  line-height: 30px;
  padding: 8px 8px 6px;
  /* background-color: rgba(189, 189, 189, 0.6); */
  border: 1px solid #000;
  cursor: pointer;
}

ul#mainMenu li.subLi:not(:first-child) {
  border-top: none;
}