@charset "UTF-8";

div#wrap {
    width: 800px;
}

div.licenseArea {
    width: 100%;
}

div.licenseArea>iframe {
    width: 100%;
    border: 1px solid #08f;
}

div#bnt {
    margin: 30px 0;
    display: flex;
}

button:disabled {
    background-color: #ccc;
    color: #666666;
    cursor: not-allowed;
    border: none;
}

button {
    margin: 0 auto;
    color: #fff;
    font-size: 18px;
    padding: 6px 15px;
    bottom: none;
    background-color: #08f;
    cursor: pointer;
}